.weather-detail__background {
  border-radius: 40px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}

.weather-detail__wrapper {
  position: absolute;
  left: 10px;
  top: 100px;
  right: 10px;
  bottom: 30px;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weather-detail {
  max-width: 100vw;
  width: fit-content;
  height: 100vh;
  max-height: 900px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}

.weather-detail__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-detail__weather-name {
  font-size: 34px;
}

.weather-detail__weather-temperature {
  font-size: 96px;
  line-height: 80px;
}

.weather-detail__weather-more {
  margin-top: 12px;
  font-size: 20px;
}

.weather-detail__weather-des {
  font-size: 20px;
  text-transform: capitalize;
}
.weakly-forecast {
  width: 100%;
}
.weakly-forecast__item {
  border-radius: 30px;
  height: 146px;
  padding: 16px 8px;
  cursor: pointer;
  background-color: #48319d33;
  transition: 0.3s;
  &.active {
    background-color: #48319d;
  }
  img {
    width: 100%;
  }
}
.search {
  position: absolute;
  top: 20px;
  width: 100%;
}
.search-wrapper {
  position: relative;
  margin: 0 10px;
  input {
    width: 100%;
    border-radius: 10px;
    height: 34px;
    border: none;
    outline: none;
    background: linear-gradient(#2e335a, #1c1b33);
    color: #fff;
    padding: 0 10px;
    &::placeholder {
      color: #ebebf599;
    }
  }
  button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    svg {
      width: 25px;
      height: 25px;
      fill: #ebebf599;
    }
  }
}

.alert {
  position: absolute;
  top: -100vh;
  max-width: 100%;
  transition: 0.3s;
  &.active {
    top: 50px;
  }
}
